{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "useTabs": false,
  "quoteProps": "consistent",
  "endOfLine": "lf"
}
